*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

body.dark{
background:#eaf4ff;
color:black;

--bg-main:#ffffff;
--bg-header:#0d6efd;
--msg-user:#2563eb;
--msg-bot:#f1f5f9;
}

.app-container{
width:100%;
height:100vh;
background:var(--bg-main);
display:flex;
flex-direction:column;
}

.header{
background:var(--bg-header);
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

.chat-container{
flex:1;
display:flex;
flex-direction:column;
}

.chat-box{
flex:1;
overflow-y:auto;
padding:15px;
padding-bottom:80px;
}

.bot-message,
.user-message{
display:flex;
margin:10px 0;
align-items:flex-start;
}

.bot-icon,
.user-icon{
width:40px;
height:40px;
border-radius:50%;
margin-right:10px;
}

.user-message{
flex-direction:row-reverse;
}

.user-message .user-icon{
margin-left:10px;
margin-right:0;
}

.message{
max-width:75%;
padding:12px;
border-radius:10px;
word-wrap:break-word;
white-space:pre-wrap;
}

.bot-message .message{
background:var(--msg-bot);
}

.user-message .message{
background:var(--msg-user);
color:white;
}

.input-box{
display:flex;
background:white;
padding:10px;
border-top:2px solid #dbeafe;
position:sticky;
bottom:0;
}

.input-box input{
flex:1;
padding:12px;
border:none;
outline:none;
border-radius:20px;
background:#f1f5f9;
}

#send-btn,#mic-btn{
margin-left:10px;
padding:10px 14px;
border:none;
border-radius:10px;
cursor:pointer;
background:#2563eb;
color:white;
}

.history-container{
flex:1;
padding:15px;
overflow-y:auto;
}

.history-item{
background:#f1f5f9;
padding:10px;
border-radius:10px;
margin-bottom:10px;
}

#clear-history{
background:red;
border:none;
padding:6px 12px;
color:white;
border-radius:8px;
cursor:pointer;
}
